Source: fbreader
Section: media
Priority: optional
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5.0.22), libxcb1-dev, libxcb-image0-dev, libxcb-aux0-dev, libexpat1-dev, libbz2-dev, libz1-dev, libjpeg62-dev, libpng12-dev, libgif-dev, libewl1-dev, libevas-dev, libglib2.0-dev, libpango1.0-dev, liblinebreak-dev, libfribidi-dev, pkg-config
XCS-Cross-Host-Build-Depends: debhelper (>= 5.0.22), pkg-config
XCS-Cross-Build-Depends: libexpat1-dev, libbz2-dev (>= 1.0.5-2), libz1-dev, libjpeg62-dev, libpng12-dev, libgif-dev, libewl1-dev, libevas-dev, libglib2.0-dev, libpango1.0-dev, liblinebreak-dev, libfribidi-dev, libxcb1-dev, libxcb-image0-dev, libxcb-aux0-dev, libexpat1-dev
XS-Vcs-Git: http://git.openinkpot.org/fbreader.git
XS-Vcs-Browser: http://git.openinkpot.org/fbreader.git
Format: 3.0 (native)

Package: fbreader
Priority: optional
Architecture: any
Replaces: 
Depends: ${shlibs:Depends}, fbreader-settings
Description: e-book reader
 FBReader is an e-book reader.
 .
 Main features:
  * supports several open e-book formats: fb2, html, chm, plucker,
    palmdoc, ztxt, tcr (psion text), rtf, oeb, openreader, non-DRM'ed
    mobipocket, plain text
  * reads directly from tar, zip, gzip, bzip2 archives (you can have
    several books in one archive)
  * supports a structured view of your e-book collection
  * automatically determines encodings
  * automatically generates a table of contents
  * keeps the last open book and the last read positions for all open books
    between runs
  * automatic hyphenation (patterns for several languages are included)
 .
  Homepage: http://www.fbreader.org/

Package: fbreader-settings-v3
Priority: optional
Architecture: all
Depends: fbreader (>= 0.10.5-1.oi2)
Provides: fbreader-settings
Conflicts: fbreader-settings
Replaces: fbreader-settings
Description: V3 specific settings
 This package contains V3 specific settings: keybindings, styles, etc.

Package: fbreader-settings-n516
Priority: optional
Architecture: all
Depends: fbreader (>= 0.10.5-1.oi2)
Provides: fbreader-settings
Conflicts: fbreader-settings
Replaces: fbreader-settings
Description: n516 specific settings
 This package contains n516 specific settings: keybindings, styles, etc.
